.comment h1{
    margin-top: 1rem;
    font-size: 1.0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: normal;


}
.comment h2{
    font-size: 1rem;
    margin-left: 1rem;

}

.users-comment input{
    margin-left: 1rem;
    height: 1.5rem;
    width: 40vw;
    margin-bottom: 1vh;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
.users-comment button{
    height: 1.85rem;
    margin-bottom: 1vh;
    background-color: #fc9003;
    color: white;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
@media (max-width:1600px){
    .comment h1{
        font-size: 0.7rem;
    }
    .comment h2{
        font-size: 0.7rem;
    }
}