.comment h1{
    margin-top: 1rem;
    font-size: 1.0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: normal;


}
.comment h2{
    font-size: 1rem;
    margin-left: 1rem;

}
.users-comment{
    display: flex;
    align-items: center;
}
.users-comment h1{
    margin-top: 0;
}
.users-comment input{
    margin-left: 1rem;
    height: 1.5rem;
    width: 35rem;
    margin-bottom: 1vh;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px;
}
.users-comment button{
    height: 1.85rem;
    margin-bottom: 1vh;
    background-color: #fc9003;
    color: white;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.users-comment button:hover{
    background-color: #fc9003c2;
    cursor: pointer;
}
@media only screen and (max-width: 900px) {
    .comment h1{
        font-size: 0.8rem;  
    }
    .comment h2{
        font-size: 0.8rem;  
    }
    .users-comment input{
        height: 1.2rem;
        width: 17rem;
    }
    .users-comment button{
        height: 1.4rem;
    }
  }