@import "../main.scss";

.registration {
    position: fixed;
    height: 100vh;
    width: 100vw;
    @include flex(center, center, row);
    z-index: 3;
}
.cancel-button-1 {
    position: relative;
    margin-left: 28rem;
    margin-top: 0;
}
.cancel-button-2 {
    position: relative;
    margin-left: 32rem;
    margin-top: 0;
}
.login-form,
.register-form {
    padding: 2rem;
    @include flex(center, center, column);
    background: url("./signIn/rain.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 100%;
    border: 1px solid $main-color;
    border-radius: 10px;
}
.login-form {
    width: 30rem;
    height: 17rem;
}
.register-form {
    width: 35rem;
    height: 28rem;
}
#correct-ac,
#correct-pass,
#correct-pass2,
#correct-email {
    border: solid #00cf238a 1.5px;
}
#incorrect-ac,
#incorrect-pass,
#incorrect-pass2,
#incorrect-email {
    border: solid #e901018f 1.5px;
}
.one-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}
.left {
    display: flex;
    width: 100%;
    height: 3rem;
    justify-content: flex-start;
    align-items: center;
}
.right {
    width: 70%;
    height: 2rem;
}
.login-form,
.register-form {
    input,
    select {
        padding: 0.2rem 0.2rem;
        font-family: $font;
        height: 1.5rem;
        width: 90%;
        color: $dark;
        background-color: #e7e7e7;
        font-size: 1.2rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 7px;
    }
    h1 {
        display: inline-block;
        color: $dark;
        font-size: 1.5rem;
        font-family: $font;
    }
    button {
        margin: 2rem 0;
        background-color: $main-color;
        color: $gray;
        font-family: $font;
        font-size: 1.2rem;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        &:hover {
            cursor: pointer;
            background-color: $main-hover-color;
        }
    }
}
.right input {
    width: 100%;
}
.button-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

#submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#hiddenTooltip1,
#hiddenTooltip2,
#hiddenTooltip3,
#hiddenTooltip4,
#hiddenTooltip5,
#hiddenTooltip6,
#visibleTooltip1,
#visibleTooltip2,
#visibleTooltip3,
#visibleTooltip4,
#visibleTooltip5,
#visibleTooltip6 {
    visibility: hidden;
    display: block;
    position: absolute;
    margin-right: -10%;
    width: 10rem;
    height: 1.2rem;
    padding: 0.4rem 0.4rem 0.5rem;
    background-color: $main-color;
    color: $gray;
    font-family: $font;
    font-size: 0.7rem;
    border-radius: 5px;
}
#hiddenTooltip5,
#hiddenTooltip6,
#visibleTooltip5,
#visibleTooltip6 {
    margin-top: 0rem;
}
#visibleTooltip1,
#visibleTooltip2,
#visibleTooltip3,
#visibleTooltip4,
#visibleTooltip5,
#visibleTooltip6 {
    visibility: visible;
}
#days,
#years,
#months {
    width: 32%;
    height: 2rem;
}
#countries {
    width: 95%;
    height: 2rem;
}
.one-line {
    display: flex;
}
#show1 {
    position: absolute;
    margin-left: 23rem;
    margin-top: -2.5rem;
    width: 2.5rem;
    height: 2rem;
    padding: 0;
    font-size: 0.7rem;
}
#show2 {
    position: absolute;
    margin-left: 25.5rem;
    margin-top: 0rem;
    width: 2.5rem;
    height: 2rem;
    padding: 0;
    font-size: 0.7rem;
}
@media only screen and (max-width: 900px) {
    .login-form {
        width: 25rem;
        height: 12rem;
    }
    #hiddenTooltip1,
    #hiddenTooltip2,
    #hiddenTooltip3,
    #hiddenTooltip4,
    #hiddenTooltip5,
    #hiddenTooltip6,
    #visibleTooltip1,
    #visibleTooltip2,
    #visibleTooltip3,
    #visibleTooltip4,
    #visibleTooltip5,
    #visibleTooltip6 {
        margin-right: -20%;
    }
    .register-form {
        width: 27rem;
        height: 19rem;
    }
    .login-form,
    .register-form {
        h1 {
            font-size: 1.2rem;
        }
        input,
        select {
            height: 1.2rem;
            width: 90%;
        }
        button {
            margin: 1rem 0;
            background-color: $main-color;
            color: $gray;
            font-family: "PT Sans", sans-serif;
            font-size: 1.2rem;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 5px;
        }
    }
    .one-line {
        margin-top: 1.5vh;
    }
    .cancel-button-1 {
        margin-left: 25rem;
        margin-top: 0rem;
    }
    .cancel-button-2 {
        margin-left: 26rem;
        margin-top: 0rem;
    }
}
@media only screen and (max-width: 600px) {
    #hiddenTooltip1,
    #hiddenTooltip2,
    #hiddenTooltip3,
    #hiddenTooltip4,
    #hiddenTooltip5,
    #hiddenTooltip6,
    #visibleTooltip1,
    #visibleTooltip2,
    #visibleTooltip3,
    #visibleTooltip4,
    #visibleTooltip5,
    #visibleTooltip6 {
        margin-right: -35%;
    }
    .cancel-button-1,
    .cancel-button-2 {
        margin-left: 13rem;
    }
    .login-form {
        width: 14rem;
    }
    .register-form {
        width: 18rem;
    }
    .cancel-button-2 {
        margin-left: 16rem;
    }
}
