
.registration{
    position: absolute;
    display: flex;
    height:100vh;
    width:100vw;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    z-index: 3;
}
.cancel-button{
    
    position: absolute;
    margin-left: 17%;
    margin-top: -18vh;
}
.app-form{
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("rain.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 70% 70%;
    border: 1px solid #fc9003;
    width:30%;
    height: 40vh;
    border-radius: 10px;
}
#login{
    width:40%;
    height: 35vh;
}
#register{
    width:40%;
    height: 40vh;
}
#form{
    width:35vw;
    height: 35vh;
}
#correct-ac,
#correct-pass,
#correct-pass2,
#correct-email{
    border: solid #00cf23 2px;
}
#incorrect-ac,
#incorrect-pass,
#incorrect-pass2,
#incorrect-email{
    border: solid #e90101 2px;
}

.one-line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2rem;
}
.left{
    display: flex;
    width: 100%;
    height:3rem;
    justify-content: flex-start;
    align-items: center;
}
.right{
    width: 70%;
    height:2rem;
}
.app-form input,
.app-form select{
    padding: 0.2rem 0.2rem;
    font-family: 'Lato', sans-serif;
    height:1.5rem;
    width:90%;
    color: #383838;
    background-color: #e7e7e7;
    font-size: 1.2rem;
    border: 1px solid rgba(0, 0, 0,0.15);
    border-radius: 7px;
}
.right input{
    width: 100%;
}
.app-form h1{
    display: inline-block;
    color: #2b2b2b;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;    
}
.app-form button{
    margin: 2rem 0;
    background-color: #fc9003;
    color:#cacaca;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    border: 1px solid rgba(0, 0, 0,0.15);
    border-radius: 5px;
}
.app-form button:hover{
    cursor: pointer;
    background-color: #fc9003d7;
}
#submit{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#hiddenTooltip1,
#hiddenTooltip2,
#hiddenTooltip3,
#hiddenTooltip4,
#hiddenTooltip5,
#hiddenTooltip6,
#visibleTooltip1,
#visibleTooltip2,
#visibleTooltip3,
#visibleTooltip4,
#visibleTooltip5,
#visibleTooltip6{
    visibility: hidden;
    display: block;
    position: absolute;
    margin-left: 10vw;
    width: 10rem;
    height: 1.2rem;
    padding: 0.4rem 0.4rem 0.5rem;
    background-color: #fc9003;
    color:#cacaca;
    font-family: 'Lato', sans-serif;
    font-size: 0.7rem;
    border-radius: 5px;
}
#hiddenTooltip5,
#hiddenTooltip6,
#visibleTooltip5,
#visibleTooltip6{
    margin-top:0rem;

}
#visibleTooltip1,
#visibleTooltip2,
#visibleTooltip3,
#visibleTooltip4,
#visibleTooltip5,
#visibleTooltip6{
    visibility: visible;
}
#days,
#years,
#months
{
    width:32%;
    height:2rem;
}
#countries{
    width:95%;
    height:2rem;
}
#show{
    position: absolute;
    margin-left: 27vw;
    margin-top: -2.6rem;
    width:3vw;
    height: 3.6%;
    padding: 0;
    font-size: 0.7rem;
}
