.trending-display{
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.trending-sign{
    margin-top: 3vh;
    width:50%;
    height: 5vh;
}
.trending{
    height: 10vh;
    width:50%;

}
.trend:hover{
    cursor: pointer;
}
.trending-sign h1{
    font-size: 1rem;
    color: #2b2b2b;
}.trending-display{
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    margin-top: 50px;
}

.trending-sign{
    margin-top: 3vh;
    width:50%;
    height: 5vh;
}
.trending{
    height: 20vh;
    width:50%;
    display: flex;
    justify-content: space-between;
}
.img-txt{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -50%;
}
.trending h1,
.trending h2{
    position: relative;
    color: #e4e3e3;
    font-size: 1.5rem;
    z-index:2;
    margin-top: 0;
    margin-bottom: 0;
}
.trending h2{
    font-weight: bold;
    font-size: 2rem;

}
.trending img{
    width: 15rem;
    height: 12rem;
    text-align: center;
    border-radius: 10px;
    filter: brightness(0.65) blur(1.5px);
    position: relative;
}
.trending-sign h1{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;

    color: #fc9003;
    font-size: 1.5rem;

}