@import '../main.scss';

.post-list-display {
    height: 100vh;
    width: 100%;
    @include flex(flex-start,center,column);
    position: absolute;
    margin-top: 5rem;
}
.post-list-sign,
.one-post {
    width: 50rem;
    height: 5vh;
}
.post-list-sign {
    margin-top: 15rem;
    h1 {
        margin-top: 2.5vh;
        color: $main-color;
        font-size: 1.5rem;
    }
}
#post-title {
    cursor: pointer;
}
.post-list {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}
.post {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-color: white;
    img {
        width: 30rem;
        height: 20rem;
        margin-bottom: 2rem;
        border-radius: 5px;
    }
}
#visible-buttons {
    display: flex;
}
#hidden-buttons {
    display: none;
}
.post-list-sign h1,
.post h1,
.post p,
.post h2 {
    font-size: 1rem;
    color: $dark;
}
#section {
    color: $main-color;
    margin-right: 1vw;
    transition: color 500ms;
}
#section:hover {
    color: $main-hover-color;
}
.post h1,
.post p {
    margin-left: 1.5vw;
}
#right-part {
    display: flex;
    width: 15rem;
}
#middle-part {
    display: flex;
    justify-content: center;
}
#right-part h2,
#middle-part h2 {
    font-size: 0.9rem;
}
.post-desc {
    display: flex;
    padding-top: 2vh;
}
.img {
    @include flex(center,flex-start,row);
}
.post-buttons {
    margin-top: 1vh;
    @include flex(center,flex-start,row);
    height: 4vh;
    button {
        background-color: $main-color;
        color: white;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 7px;
        height: 80%;
        width: 10%;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
    img {
        margin-left: 1vw;
        margin-right: 1vw;
        height: 1.3rem;
        width: 1.3rem;
        transition: filter 500ms;
        &:hover {
            cursor: pointer;
            filter: opacity(85%);
        }
    }
}
#section:hover {
    cursor: pointer;
}
#right {
    @include flex(flex-end,flex-start,row);
    margin-right: 10px;
}
#icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-bottom: 1rem;
}
.left {
    @include flex(flex-start,flex-start,row);
}
@media only screen and (max-width: 900px) {
    .post-list {
        width: 30rem;
    }
    .post img {
        width: 20rem;
        height: 15rem;
    }
    .post-list-sign h1,
    .post h1,
    .post p,
    .post h2 {
        font-size: 0.8rem;
    }
    .post-list-sign h1 {
        font-size: 1.2rem;
    }
    .post-buttons {
        margin-top: 1vh;
        display: flex;
        justify-content: center;

        height: 1.8rem;
    }
    .post-list-sign,
    .one-post {
        width: 30rem;
    }
    .post-list-sign {
        margin-top: 10rem;
    }
    #right-part {
        width: 12rem;
    }
    #right-part h2,
    #middle-part h2 {
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 650px) {
    .post-list {
        width: 22rem;
    }
    .post-list-sign h1,
    .post h1,
    .post p,
    .post h2 {
        font-size: 0.7rem;
    }
    .post-list-sign h1 {
        font-size: 1.0rem;
    }
    .post-list-sign,
    .one-post {
        width: 22rem;
    }
    .post-list-sign{
        margin-top: 8rem;
    }
}